<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">
			<span class="glyphicon glyphicon-piture"></span>
			NPM Test Crap
			</a>
			
			<a class="navbar-brand" href="/skiplagged"> Skiplagged</a>
			<a class="navbar-brand" href="/twitterindex"> Twitter</a>
			<a class="navbar-brand" href="/">Instagram</a>
			<a class="navbar-brand" href="#">HELP!</a>
		</div>
	</div>
