    <meta charset="utf-8">
	<title>Shanes App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cosmo/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">